/* CURRENTLY IN: styles/main.css */
html {
	font-size: 10px;

}

body {
	background-color: #f6f6f6;
	margin-right: 2.5rem;
}

iframe {
 	-webkit-transform:scale(0.9);
 	-moz-transform-scale(0.9);
 	display: block;
 	width: 100%;
 	margin:0px auto;
 	overflow-y: scroll;
	overflow-x: hidden;
	/*width:1024px;
 	height:768px;*/
}

.overall {
	background-color: #4FD3F7;
}

.clearfix {
	display: block;
}


.glbl--fr {
	float: right;
	box-sizing: border-box;
}


.column__wrapper {
	width: 75%;
}


. {
	margin-left: 25%;
	width: 50%;
	background-color: #ffffff;
	height: 10%;
	
}

.header__headline {
	vertical-align: bottom;
	margin-left: 8px;
	font-size: 2.5rem;
}

.header__nav {
	vertical-align: baseline;
	font-size: 1.5rem;
}

.tags__bar {
	position: fixed;
	margin-top: 300px;
	background-color: #06fabd;
	width: 100%;
	height: 170px;
}


.footer {
	background-color: #06fabd;
	width: 100%;
	height: 50px;
}

.rowitem { 
	width: 25%;
	min-height: 150px;
	box-sizing: border-box;
	border: 2px solid black;
} 

.rowitem img {
	width: 100%;
}

.yellow-bg{
	background-color: yellow;
}
.blue-bg{
	background-color: blue;
}

.green-bg{
	background-color: green;
}