/* CURRENTLY IN: styles/main.css */
html {
	font-size: 10px;

}

body {
	background-color: #f6f6f6;
	margin-right: 2.5rem;
	color: black;
	box-sizing: border-box;
}



.jump--up.hidden {
	display: none;
}


.jump--up {
 	position: fixed;
 	height: 15%;
 	width: 100%;
    background-color: #06fabd;
   	bottom: 0;
    margin-top: 1000px;
}


.header__headline {
  position: fixed;
  	margin-left: 25%;
	width: 49.5%;
  height: 20%;
  background: #ffffff;
 min-height: 150px;
 transition: all 0.7s ease;
}


header.sticky {
  display: block;
  height: 15%;
  background: #ffffff;
  width: 25%;
  margin-left: 0%;
  transition: all 0.5s ease;
}


.clearfix {
	display: block;
}


.glbl--fr {
	float: right;
}

.glbl--fl {
	float: left;
	
}


.column__wrapper {
	margin-top: 10.5%;
	width: 75%;
	margin-bottom: 500px;
}



.tags__bar {
	position: fixed;
	background-color: #06fabd;
	margin-top: 10%;
	width: 100%;
	height: 30%;
	min-height: 300px;
	transition: all 0.4s ease;
	box-shadow: .3em 0 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.tags__bar.sticky {
	position: fixed;
	background-color: #06fabd;
	margin-top: 5%;
	width: 100%;
	height: 20%;
	min-height: 300px;
	transition: all 0.4s ease;
}




.filterbutton {
	font-size: 5rem;
	padding-left: 1%;
	height: 16.67%;
	vertical-align: middle;
}

.filterbutton--reset {
	font-size: 2rem;
	text-decoration: underline;
	margin-left: 20%;
}

.image__grid {
	width:25%;
	display: inline-block;
	margin-left: 0.5%;
	margin-top: 0.5%;
}

.rowitem { 
	margin: .5% .6%;
	width: 32.1%;
	min-height: 150px;
	box-sizing: border-box;
	font-size: 5rem;

} 

.rowitem__author {
	padding: 0rem 1.2rem;
}

.header__modules {
	font-size: 10rem;	
}



.rowitem img {
	width: 100%;
	padding: 18px;
	margin: 0px;
}

.data-container {
	margin-bottom: 100px;
}

.meta {
	word-wrap: break-word;
	display: block;
	overflow: inherit;
	vertical-align: bottom;
}

/*
.yellow-bg{
	background-color: #DDDAD6;
}
.blue-bg{
	background-color: #F9F1B5;
}

.green-bg{
	background-color: #A6D8DE;
}

.purple-bg{
	background-color: #AE9C96;
}


.page--active {
	display: block;	
}

.page--hidden {
	display: inline;
}*/
