/* CURRENTLY IN: styles/main.css */
html {
	font-size: 10px;

}

body {
	background-color: #f6f6f6;
	margin-right: 2.5rem;
	color: black;
}


.overall {
	background-color: #4FD3F7;
}

.clearfix {
	display: block;
}


.glbl--fr {
	float: right;
	box-sizing: border-box;
}


.column__wrapper {
	width: 75%;
}


.header__headline {
	margin-left: 25.6%;
	width: 49.5%;
	padding-left: 1%;
	background-color: #ffffff;
	height: 18%;
	font-size: 10rem;
	vertical-align: bottom;
	min-height: 150px;
	
}


.filterbutton {
	font-size: 5rem;
	padding-left: 1%;
	height: 25%;
	vertical-align: bottom;
}

.filterbutton--reset {
	font-size: 2rem;
	text-decoration: underline;
}

.tags__bar {
	position: fixed;
	background-color: #06fabd;
	width: 100%;
	height: 20%;
	min-height: 300px;
}


.footer {
	background-color: #06fabd;
	width: 100%;
	height: 50px;
}

.rowitem { 
	margin: .3% .6%;
	width: 32.1%;
	min-height: 150px;
	box-sizing: border-box;
	font-size: 5rem;
} 

.rowitem__author {
	padding: 0rem 1.2rem;
}

.rowitem__title {
	padding: 0rem 1.2rem;

}


.rowitem__details--active {
	font-size: 1.3rem;
	display: visible;
	padding: 1.2rem;
}

.rowitem__details--hidden {
	font-size: 1.3rem;
	display: none;
	font-weight: bold;

}


.rowitem img {
	width: 100%;
/*	background-position: center;
	background-size: cover;*/
	padding: 18px;
	margin: 0px;
	/*max-height: 400px;*/
}

.yellow-bg{
	background-color: #DDDAD6;
}
.blue-bg{
	background-color: #F9F1B5;
}

.green-bg{
	background-color: #A6D8DE;
}

.purple-bg{
	background-color: #AE9C96;
}


.pg-1 {

}