/* CURRENTLY IN: styles/main.css */
html {
	overflow-y: scroll;
overflow-x: hidden;
}

iframe {
 	-webkit-transform:scale(0.7);
 	-moz-transform-scale(0.7);
 	margin:0px;
 /*	width:1024px;
 	height:768px;*/
}

.overall {
	background-color: #4FD3F7;
}

.grid--system {
	padding: none;
}

.sidebar--left {

}