/* CURRENTLY IN: styles/main.css */
html {
	overflow-y: scroll;
overflow-x: hidden;
}

body {
width: 100%;
height: 100%;
}

iframe {
 	-webkit-transform:scale(0.7);
 	-moz-transform-scale(0.7);
 /*	width:1024px;
 	height:768px;*/
}

.grid--system {
	padding: none;
}